body {
  background-color: deepskyblue;
  text-align: center;
  color: yellow;
  padding: 27px;
  margin: 27px;
  border: thick red solid;
  font-weight: bold;
  font-size: 50px;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
